.list li {
 list-style: none;
 display: block;
 margin: 0 auto;
}
.img{
   
        width: 100%;
        height: auto;
        max-width: 100%;
      
}
.list{
    padding-right: 7%;
}
.list button {
    border-radius: 10px;
    color: white;
    background-color:black;
    padding: 10px;
    margin-left: 5px;
}
.list button:hover {
    cursor: pointer;
}
.link {
    display: inline-block;
    position: relative;
    text-decoration: none;
    color:white;
    margin-left: 10px;
 }
 
.link:hover::after {
    transform: scaleX(1);
  transform-origin: bottom left;
}
.link::after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color:white;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

